################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstServiceFabric/.vs/FirstServiceFabric/v14
/FirstServiceFabric/packages
